@font-face {
    font-family: 'OpenSans';
    src: url('open-sans/OpenSans-Regular.ttf') format('truetype');
}
.axis text {
    font-family: 'OpenSans';
    font-size: 13px;
}
.horizontalGrid {
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    opacity: 0.15
}
.verticalGrid {
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    opacity: 0.15
}
.legend {
    stroke: black;
    shape-rendering: crispEdges;
    fill: none;
    font-family: 'OpenSans';
    font-weight: normal;
    font-size: 10px;
}

.axis path {
    stroke: #000;
    shape-rendering: crispEdges;
    fill: none;
}

.exp0 {
    stroke-width: 1;
}
.exp1 {
    stroke-width: 1;
}
.confidence0 {
    fill: grey;
    opacity: 0.5;
}
.confidence1 {
    fill: grey;
    opacity: 0.5;
}
