.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.dot {
    stroke: #000;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}
.legend {
    font-size: 14px;
    font-weight: bold;
}
